<div class="user">
 <div class="d-flex align-items-center">
  <div class="userinfo">
   <%= image_tag @user.get_profile_image, size: "100x100" %>
  </div>
  <div class="userinfo">
   <h1><%= @user.name %>さんのページ</h1>
  </div>
 </div>
</div>

<div class="follow">
 <% if current_user != @user %>
  <%= render 'relationships/btn', user: @user %>
 <% end %>
 <tr>
  <th>フォロー:</th>
   <%= link_to follows_user_path(@user) do %>
    <p><%= @following_users.count %></p>
   <% end %>
 </tr>
</div>

<tr>
 <th>フォロワー</th>
  <td>
   <%= link_to followers_user_path(@user) do %>
    <p><%= @follower_users.count %></p>
   <% end %>
  </td>
</tr>

<% if @posts.present? %>
 <% @posts.each do |animalpic| %>
  <%= link_to post_path(animalpic.id) do %>
   <%= image_tag animalpic.animalpics[0], class: "index-img" %>
  <% end %>
 <% end %>

<% else %>
 <p>投稿はありません</p>
<% end %>

<p><i class="fa-solid fa-paw"></i><%= link_to"いいねした記事", favorites_user_path(@user) %><i class="fa-solid fa-paw"></i></p>
<% if user_signed_in? %>
 <% if @user == current_user %>
  <%= link_to "プロフィール編集", edit_user_path %>
  <%= link_to "退会する", user_check_path, class: "btn btn-danger" %>
 <% end %>
 <% if current_user.admin? %>
  <% if @user.is_deleted %>
   <h2>退会済み<h2>
  <% else %>
   <%= link_to "退会させる", admin_withdraw_path(@user.id), method: :patch, class: "btn btn-danger" %>
  <% end %>
 <% end %>
<% end %>

