
<div class="container">
 <div class="row">
  <h1>新規投稿</h1>
  <%= form_with model: @post, local: true do |f| %>
  <div class="image-form">
   <div class="col-md-10 mx-auto">
    <h3>画像投稿</h3>
    <%= f.file_field :animalpics, multiple: true, local: true, name: 'post[animalpics][]', onchange: "loadImage(this);" %>
   </div>
   <div class="col-md-10 mx-auto" id="post_images" style="display: none;">
    <p id="preview"></p>
   </div>

   <%= render "loadimage" %>

   <div class="col-md-10 mx-auto">
   <h3>タイトル</h3>
    <%= f.text_field :title %>
   </div>
   <div class="col-md-10 mx-auto">
    <h3>どんな写真？</h3>
    <%= f.text_area :text, size:"50×50" %>
   </div>
   <div class="col-md-10 mx-auto">
    <h3>タグ（,で区切ると複数投稿できます）</h3>
    <%= f.text_field :name %>
   </div>
   <div class="col mt-3 col-md-10 mx-auto">
    <div class="btn-post">
     <div class="btn-group">
      <button type="submit" class ="btn btn-info btn-lg">投稿</button>
     </div>
    </div>
   </div>
   <% end %>
 </div>
</div>


