<h1>投稿一覧</h1>
<div class = "container">
  <div class="row">
    <% @posts.each do |post| %>
    <div class="col-md-4">
     <div class="post-image">
      <%= link_to post_path(post.id) do %>
       <%= image_tag post.animalpics[0], size: "200x200"%>
      <% end %>
     </div>
     <div class="user-image">
      <%= image_tag post.user.get_profile_image, size: "30x30" %>
      <%= post.user.name %>
     </div>
    </div>
   <% end %>
   <%= paginate @posts, theme: 'bootstrap-5' %>
  </div>
</div>

