<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<p><%= @post.title %></p>
<% @post.animalpics.each do |animalPics| %>

<%= image_tag animalPics, size: "100×100" %>

<% end %>

<p><%= @post.text %></p>

<% if @post.user == current_user %>
<%= link_to "投稿を削除", post_path(@post), method: :delete %>
<% end %>

<%= link_to user_path(@post.user) do %>
<%= @post.user.name %>
<% end %>
