<%= link_to user_path(@post.user) do %>
<%= image_tag @post.user.get_profile_image %>
<% end %>
<%= @post.user.name %>

<th>Follows</th>


<h2><%= @post.title %></h2>
<% @post.animalpics.each do |animalPics| %>

<%= image_tag animalPics, size: "100×100" %>

<% end %>

<p><%= @post.text %></p>

<% if @post.user == current_user %>
<%= link_to "投稿削除", post_path(@post), method: :delete %>
<% end %>

