<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>




<div class="container-fluid">
 <div class="row">

<div class="col-px0">
<div class="col-lg-8">
<div class="slider_container">
<div class="slider">

<% @post.animalpics.each do |animalPics| %>
<%= image_tag animalPics, size: '300x200' %>
<% end %>
</div>
</div>
</div>
</div>


<div class="col-lg-4">
<h2><%= @post.title %></h2>

<p><%= @post.text %></p>
<% @post_tags.each do |tag| %>
<%= link_to tag.name,search_tag_path(post_tag_id: tag.id) %>
<% end %>
</div>

</div>
</div>

<div class="p-3">
<p>投稿者<%= link_to user_path(@post.user) do %>
 <%= image_tag @post.user.get_profile_image %>
 <%= @post.user.name %>
<% end %></p>
</div>


<div class="p-3">
<% if @post.user == current_user %>
<%= link_to post_path(@post), method: :delete do %>
<i class="fa-solid fa-trash-can fa-2xl" style="color: #b71515;"></i>
<% end %>

<%= link_to edit_post_path(@post) do %>
<i class="fa-solid fa-pencil fa-2xl"></i>
<% end %>
<% end %>

 <div id="favorite_btn_<%= @post.id %>">


<%= render "favorites/favorite", post: @post %>


</div>

<div class="p-3">
<h2>コメント</h2>
<% @comments.each do |comment| %>
 <%= image_tag comment.user.get_profile_image %>
 <%= comment.user.name %>
 <%= comment.comment_content %>
 <% if current_user.admin? %>
 <%= link_to "削除", post_comment_path(@post, comment), method: :delete %>
 <% end %>
<% end %>



<%= form_with(model:[@post, @comment], method: :post) do |f| %>

<%= f.text_area :comment_content %>
<%= f.hidden_field :post_id, value: @post %>
<%= f.submit 'コメントする' %>
<% end %>


</div>

