<%= link_to user_path(@post.user) do %>
<%= image_tag @post.user.get_profile_image %>
<% end %>
<%= @post.user.name %>




<h2><%= @post.title %></h2>
<% @post.animalpics.each do |animalPics| %>

<%= image_tag animalPics, size: "100×100" %>

<% end %>

<p><%= @post.text %></p>
<% @post_tags.each do |tag| %>
<%= link_to tag.name,search_tag_path(post_tag_id: tag.id) %>
<% end %>

<% if @post.user == current_user %>
<%= link_to "投稿削除", post_path(@post), method: :delete %>
<%= link_to "編集", edit_post_path(@post) %>
<% end %>

<% if @post.favorited_by?(current_user) %>
<p>
 <%= link_to post_favorites_path(@post), method: :delete do %>
 ♥<%= @post.favorites.count %>いいね
 <% end %>
</p>

<% else %>
<p>
 <%= link_to post_favorites_path(@post), method: :post do %>
 ♡<%= @post.favorites.count %>いいね
 <% end %>
</p>

<% end %>

<h2>コメント</h2>
<% @comments.each do |comment| %>
 <%= image_tag comment.user.get_profile_image %>
 <%= comment.user.name %>
 <%= comment.comment_content %>
 <% if current_user.admin? %>
 <%= link_to "削除", post_comment_path(@post, comment), method: :delete %>
 <% end %>
<% end %>

<%= form_with(model:[@post, @comment], method: :post) do |f| %>
<%= f.text_area :comment_content %>
<%= f.hidden_field :post_id, value: @post %>
<%= f.submit 'コメントする' %>
<% end %>

